/.bundle/
/vendor/bundle/

/incoming/*
!/incoming/.gitkeep
/processing/*
!/processing/.gitkeep
/processed/*
!/processed/.gitkeep
/archive/raw/*
!/archive/raw/.gitkeep
/failed/*
!/failed/.gitkeep
/logs/*
!/logs/.gitkeep
/db/*
!/db/.gitkeep
/tmp/*
!/tmp/.gitkeep
